<h1>Add your new Word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="spelling">Word: </label>
    <input id="spelling" name="spelling" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
