<h1>Disctionary Search results</h1>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
        <li><a href="/words/<%= word.id %>"><%= word.speling %></a></li>

      <% end %>
  </ul>
<% else %>
  <p>There are currently no words with that spelling</p>
<% end %>
